* { box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#review-grid-container {
    padding: 5% 3%;
}

#review-1 {
    background-color: #7541c8;
    color: #ffffff;
}
#review-2 {
    background-color: #48556a;
    color: #ffffff;

}
#review-3 {
    background-color: #ffffff;
    color: #48556a;
}
#review-4 {
    background-color: #19212e;
    color: #ffffff;

}
#review-5 {
    background-color: #ffffff;
    color: #48556a;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.2 );
    font-size: 13px;
}
 .grid-item p {
    opacity: 70%;
 }
.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.header .name {
    opacity: 100%;
    font-size: 1rem;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
}
.cover {
    object-fit: contain;
    width: 100px;
    height: auto;
}

.grid-item h4{
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

@media (min-width: 576px) {
    
    #review-grid-container,
    #main-left,
    #top,
    #bottom {
        display: flex;
        
    }
    
    #review-5 {
        flex-basis: 20%;
    }
    
    #main-left {
        flex-direction:column;
        flex-basis: 80%;
        
    }

    #main-left .grid-item {
        margin-right: 15px;
    }

    #top, #bottom {
        flex-basis: 50%; 
    }

    #review-1, #review-4 {
        flex-basis: 65%;
    }

    #review-2, #review-3 {
        flex-basis: 35%;
    }
    
    #review-grid-container {
        max-width: 1440px;
        margin: 0 auto;
    
    }
    
   
}